.greetings {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 8px;
}

#weighingScale {
  color: black;
  margin: 8px;
}

/* .text-3xl text-black {
  z-index: 10 !important;
} */
